*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: black;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-template-areas: "header header"
                          "aside section"
                          "footer footer";
}
header{
    background-color: rgb(16, 79, 79);
    border: 2px solid black;
    grid-area: header;
}
aside{
    background-color: rgb(15, 38, 99);
    border: 2px solid black;
    grid-area: aside;


}
section{
    background-color: rgb(47, 144, 63);
    border: 2px solid black;
    grid-area: section;
}
footer{
    background-color: brown;
    border: 1px solid black;
    grid-area: footer;
}
