 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 300px;
    height: 380px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#container i{
    color: rgb(221, 58, 58);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
} 

#data{
    width: 300px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 80%;
    border-radius: 5px;
    display: flex;
}
#data i{
    font-size: 40px;
    color: red;
}

