 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
#outer{
    height: 100%;
    width: 100%;
    margin: 10px;
}
.in{
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
button{
    height: 50px;
    padding: 8px;
    background-color: rgb(24, 24, 178);
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
