 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}
html{
      font-family:'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif, sans-serif;
      font-size: clamp(14px,1vw,18px);

}
@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}

main{
    width: 100%;

    @include flex-column(0rem);
    section.view1{
        width: 100%;
        padding: 1rem 1.5rem;

        @include flex-column(1rem);

       .top{
        width: 100%;
          
            img{
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            }
       }

       .bottom{
        background-color: #302f2f;
        border-radius: 0.7rem;
        padding: 1.5rem;

        @include flex-column(2.5rem);
          
           
            .text{
               @include flex-column(0.7rem); 

                  h1{
                    font-weight: 300;
                    color: rgb(221, 212, 212);
                    font-size: 2.5rem;
                    text-transform: uppercase;

                  }
                  p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 2rem;
                  }
                  button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    background-color: rgb(248, 247, 247);
                    color: rgb(0, 0, 0);
                  }


            }
       }
    }
    section.view2{
      @include flex-column(2rem);
      width: 100%;
      padding: 1rem 2rem;
      .top2,.bottom2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

         .element{
          text-align: center;
          @include flex-column(0.2rem);

           small{
            opacity: 0.6;
           }

           h1{
            font-size: 2rem;
            font-weight: 500;
           }

         }
      }
    }
    section.view3{
      width: 100%;
      padding:1rem 1.5rem;
      @include flex-column(1rem);

       .top3{
        width: 100%;
        img{
          width: 100%;
          object-fit: cover;
          border-radius: 0.7rem;
        }
       }

       .bottom3{
        background-color: #302f2f;
        border-radius: 0.7rem;
        padding: 1.5rem;

        @include flex-column(.5rem);
          
           
            .text{
               @include flex-column(2rem); 

                  h1{
                    font-weight: 300;
                    color: rgb(221, 212, 212);
                    font-size: 2.5rem;
                    text-transform: uppercase;

                  }
                  p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 2rem;
                  }


            }
       }

       

    }

    section.view4{
      width: 100%;
      padding:1rem 1.5rem;
      @include flex-column(1rem);

       .top4{
        width: 100%;
        img{
          width: 100%;
          object-fit: cover;
          border-radius: 0.7rem;
        }
       }

       .bottom4{
        background-color: #302f2f;
        border-radius: 0.7rem;
        padding: 1.5rem;

        @include flex-column(.5rem);
          
           
            .text{
               @include flex-column(2rem); 

                  h1{
                    font-weight: 300;
                    color: rgb(221, 212, 212);
                    font-size: 2.5rem;
                    text-transform: uppercase;

                  }
                  p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 2rem;
                  }


            }
       }

       

    }
}


section{
  max-width: 2000px;
}


// <!-- important -->
 @media (min-width:900px){
  main{
    align-items: center;
      section.view1{
        flex-direction: row;
        .top,.bottom{
          width: 50%;
        }
        .bottom{
          justify-content: space-between;
        }

      }
      section.view2{
        flex-direction: row;
        padding: 1rem 3rem;
        .top2,.bottom2{
          width: 50%;
        }
      }
      section.view3{
        flex-direction: row-reverse;
        .bottom3{
          justify-content: space-between;
          .paragraphs{
            display: flex;
            gap: 2rem;
            p{
              font-size: 1rem;
              line-height: 1.2rem;
            }
          }
        }
        .top3,.bottom3{
            width:50%;
          }
        .text{
          flex-direction: row;
        }
      }

      section.view4{
        flex-direction: row;
        .bottom4{
          justify-content: space-between;
          .paragraphs{
            display: flex;
            gap: 2rem;
            p{
              font-size: 1rem;
              line-height: 1.2rem;
            }
          }
        }
        .top4,.bottom4{
            width:50%;
          }
        .text{
          flex-direction: row;
        }
      }
  }    
 }