 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
     overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{

    background-color: rgb(6, 39, 137);
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 9;
}

button:active{
    scale: 0.95;
    transition: all linear 0.1s;
}
