 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}

/* important */

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    gap: 20px;
    background-color: black;
}
#div1{
    width: 200px;
    height: 200px;
    background-color: rgb(113, 161, 24);
}
#div2{
    width: 200px;
    height: 200px;
    background-color: rgb(28, 94, 156);
}
#div3{
    width: 200px;
    height: 200px;
    background-color: rgba(17, 147, 110, 0.404);
}