 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white ;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
     background-color: black;
}
#main{
     height: 100%;
     width: 100%;
     background-color: rgba(52, 28, 28, 0.587);
}