 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

}
.ele{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.ele h1{
    font-size: 5vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
#main img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}