 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .crsr{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    transition: ease all 0.3s;
    clip-path: polygon(48% 3%, 73% 40%, 98% 35%, 68% 57%, 92% 100%, 50% 70%, 21% 91%, 36% 64%, 7% 35%, 10% 0);

}
#main h1{
    font-size: 10vw;
}