 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    background-color: rgb(10, 65, 143);
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height: 500px;
    width:310px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(3, 32, 54);
    position: relative;
    overflow: hidden;
}
#storyian{
    height: 120px;
    width: 100%;
    border-bottom:1px solid rgba(94, 91, 91, 0.492);
    padding: 15px;
     /* IMportant !!!!!!!!!!!!!! */
    white-space:nowrap; 
    overflow-x:auto;
    overflow-y: hidden;
}
#storyian::-webkit-scrollbar{
    display: none;
}
.story{
    height: 90px;
    width: 90px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
}
#storyian:hover{
    cursor: pointer;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;


}

#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}