 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#piano{
    height: 300px;
    background-color: antiquewhite;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    height: 300px;
    width: 70px;
    background-color: rgb(226, 217, 217);
    border: 2px solid black;
    border-radius: 5px;

}
.a:nth-child(2n){
    background-color: rgba(58, 54, 54, 0.716);
}
.a:hover{

    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}