 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
#card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font: 15px;
    margin: 10px 0;
}
#card h2{
    color: darkgoldenrod;
}
#card button{
    background-color: cadetblue;
    margin: 10px 0px;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}