*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin buttons($bg-color:red){
    width: 100px;
    height: 60px;
    background-color: $bg-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    padding: 5px 8px;
    color: black;
}
main{
    width: 100%;
    height: 100%;
    @include center();
    section{
        @include center();
        flex-direction: column;

        .red{
            @include buttons(red)
        }
        .blue{
            @include buttons(blue)
        }
    }
}
