*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    @include flexCenter();

    section{
        width: 100%;
        height: 100%;
        
        @include flexCenter();
        h1{
            color: white;
        }
    }
}