 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(35, 35, 35),black);
    padding: 20px;
    color: white;
}
section{
    height: 100%;
    width: 350px;
    border-radius:  10px !important;
    background-color: black;
    margin: auto;
    overflow: auto;

}
.all-reels{
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(8, 44, 32);
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop:always;

}
.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel .bottom{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.027),rgba(0, 0, 0, 0.628));
    position: absolute;
    bottom: 0;
    padding: 20px 20px;
}
.bottom .user{
    display: flex;
    align-items: center;
     gap: 10px;
}
.bottom .user img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
   
}
.bottom .user button{
   margin-left: 80px;
   background-color: transparent;
   padding: 2px 4px;
   font-size: 12px;
   font-weight: 500;
   color: white;
   border: 1px solid white;
   border-radius: 4px;
}
.bottom>h4{
    font-weight: 300;
}
.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.right{
    width: 40px;
    right: 0;
    bottom: 12%;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    font-weight: 200;
  
}
.right i{
    font-size: 25px;
}
.right h6{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}

.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right h4{
    cursor: pointer;
}
.love{
    color: red;
}