 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
button{
     padding: 20px 50px;
     background-color: rgb(10, 10, 72);
     color: white;
     border-radius: 10px;
     font-weight: 800;
     font-size: 25px;
     z-index: 9;
}
body{
     display: flex;
     align-items: center;
     justify-content: center;
}