 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(169, 169, 4);
    color: rgb(0, 0, 0);
    font-weight: 1;
}
h2{
    padding: 50px;
    left: 40%;
    position: absolute;
}