 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
     height: 100%;
     width: 100%;
}
#main{
     height: 100%;
     width: 100%;
     background-color: bisque;
}
#card{
    width: 200px;
    height: 250px;
    background-color: blanchedalmond;
    margin: 20px;
    position: relative;
    overflow: hidden;
}
#card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#bottom{
    color: white;
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background:linear-gradient(transparent,black);
}
#card:hover #bottom{
    transform: translateY(-100%);
}
i:hover{
    cursor: pointer;
}
#main{
    display: flex;
    flex-wrap:wrap;
    padding-left: 90px;
}