*{
    background-color: black;
   
}
#nav{
    padding: 30px 30px;
}
#nav a{
    text-decoration: none;
    color: rgb(56, 173, 186);
    font-size: 18px;
    margin-right: 30px;
}

#main h1{
    color: white;
    padding-left: 50px;
    font-size: 230px;
    font-weight: 300;
    margin: 0;
    font-family:Helvetica, sans-serif;
}

#nav{
    display: flex;
    justify-content: space-between;
}

#btmleft{
    color: white;
    padding: 30px;
}

#bottom{
    display: flex;
     justify-content: space-between;
     
}
#bottom #left{
    color: whitesmoke;
    color: rgb(56, 173, 186);
    margin-left: 30px;
    font-family: cursive;
   
}
#bottom a{
    text-decoration: none;
    color: rgb(56, 173, 186);
    text-decoration: underline;
   
}

 #main img{
    height: 200px;
    position: absolute;
}
#main #first{
    left: 65%;
    top: 46%;
    width:190px;
    height: 220px;
    z-index: 2;
}
#main #second{
    left: 55%;
    top: 65%;
    z-index: 1;
    height: 240px;
    width: 200px;
}
#main #third{
    left: 35%;
    top: 55%;
    height: 200px;
    width: 270px;
}

#nav a:hover {
    font-weight: 700;
    
    


}
