*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    padding: 10px;
}
body{
    background-image: url(https://t3.ftcdn.net/jpg/03/39/06/02/360_F_339060225_w8ob8LjMJzPdEqD9UFxbE6ibcKx8dFrP.jpg);
    background-position: center;
    background-size: cover;
}

#card1{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    margin: 10px;
}
#card1 img{
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
   align-items: center;
}
#bottom{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, black);
    overflow: hidden;
    transform: translate(-100%);
    padding: 20px;
}
#bottom h2{
    color: rgb(171, 161, 161);
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}
#card1:hover #bottom{
    transform: translateY(0);
}

#bottom i{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
#bottom i:hover{
    cursor: pointer;
}

#main{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}